<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Avengers</title>
</head>
<body>
<h2 align="center">Avengers</h2>
<hr/>

<form action="/avenger/show">
<div class="form-group blu-margin">
    <select class="form-control" id="id" name="id">
    <!-- <option value="">Select Avenger</option> -->
    <option th:each="avenger : ${avengers}" th:value="${avenger.id}" th:text="${avenger.name}"></option>
    </select>
</div>
<br/>
<button type="submit">Show info</button>
</form>

<!--
<form action="#" th:action="@{/avenger/show/}" th:object="${avengers}" method="post">
	<select class="form-control" id="id" name="id">
    <option th:each="avenger : ${avengers}" th:value="${avenger.id}" th:text="${avenger.name}"></option>
    </select>    
    <p><input type="submit" value="New ShowButton" /></p>
</form>
-->


<!--
<tr th:each="avenger : ${avengers}">
	<td><a th:text="${avenger.id}" th:href="@{'/avenger/show/' + ${avenger.id}}"></a></td>
</tr>
<a href="/create">Create Avenger</a>
-->

<hr/>

<form action="/avenger/create" method="post">
	<button type="submit" href="/create">Create new Avenger</button>
</form>

</body>
</html>