<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Вкладка</title> <!-- название вкладки /-->
</head>
<body>
	<h1 align="center">Так работает тэг "h1" по центру</h1> <!-- текст на странице /-->
	
	<h2 align="right">Так работает тэг "h2" справа</h2> <!-- текст на странице /-->
	<div style="max-width: 600px; width: 100%;">
	<p>Так работают тэги "p" и <i>"i"</i></p> <!-- текст на странице /-->
	<p>Так работают тэги "p" и <b>"b"</b></p> <!-- текст на странице /-->
	</div>
	
	<h3>Так работает тэг "h3"</h3> <!-- текст на странице /-->
	
	<h4>Так работает тэг "h4"</h4> <!-- текст на странице /-->
	
	<h5>Так работает тэг "h5"</h5> <!-- текст на странице /-->
	
	<h2>Маркированный список</h2>
	<ul>
		<li>Первая позиция</li>
		<li>Вторая позиция</li>
	</ul>
	<h2>Цифровой список</h2>
	
	<ol>
		<li>Первая позиция</li>
		<li>Вторая позиция</li>
	</ol>
	
	<h2>Ссылка в текущем окне и в новом окне</h2>
	<a href="https://google.com/">Google</a> </br> <a href="https://google.com/" target="_blank">Google</a>
	<!-- /br - переход на новую строку /-->
	
	<h2>Таблица</h2>
	<table border="1">
		<tr>
			<td><b>1-ый столбец 1-ая строка</b></td>
			<td><b>2-ой столбец 1-ая строка</b></td>
		</tr>
		
		<tr>
			<td><b>1-ый столбец 2-ая строка</b></td>
			<td><b>2-ой столбец 2-ая строка</b></td>
		</tr>
		
		<tr>
			<td><b>1-ый столбец 3-ая строка</b></td>
			<td><b>2-ой столбец 3-ая строка</b></td>
		</tr>
	</table>
	
	<div><input type="text" name="name" placeholder="Your name"></div>
	
	<div><textarea name="text" id="" cols="30" rows="10" placeholder="Message"></textarea></div>
	
	<div>
		<input type="checkbox" name="option1"> Option1
		<input type="checkbox" name="option2"> Option2		
	</div>
	
	<div>
		<input type="radio" name="option3"> Option3
		<input type="radio" name="option4"> Option4		
	</div>
	
	<div><button type="submit">Send</button></div>	
	
</body>
</html>